<div class="chart-container">
  <svg width="600" height="600"></svg>
</div>
<p>
  This bar chart provides a visual representation of the distribution of various academic disciplines in 2025.
  The data includes categories such as Charlotte MBA, Nursing Masters, Nurse Anesthesia, Doctor of Nursing Practice,
  Special Education, Public Affairs, and Clinical Psychology. The bar chart showcases UNC Charlotte's impressive advancements in the 2025 U.S. News & World Report Best Graduate Schools rankings. Several programs earned their highest placements ever, highlighting the University’s growing national recognition as a leader in graduate education and research. This success comes soon after UNC Charlotte achieved Carnegie R1 classification, placing it among the top 4% of research institutions nationwide. With top-ranked programs across business, nursing, education, and public affairs, the University continues to demonstrate its commitment to impact, innovation, and academic excellence.
</p>
